body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
:root {
  --color: #ffffff;
  --color2: #2f303a;
  --color3: #2196f3;
  --pixel: 14px;
}
footer {
  background: var(--color2);
}
address {
  color: var(--color);
  font-style: normal;
  font-size: var(pixel);
  line-height: 1.5;
}
h1 {
  color: var(--color);
  background: var(--color2);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
h3 {
  font-weight: 700;
  font-size: var(pixel);
  line-height: 1.14;
}
p {
  color: #757575;
  font-weight: 400;
  font-size: var(pixel);
  line-height: 1.7;
}
a {
  color: #757575;
  text-decoration: none;
}
.black-link {
  color: #212121;
  font-weight: 500;
  font-size: var(pixel);
  line-height: 1.14;
}
.black-link:hover {
  color: var(--color3);
}
.black-link:focus {
  color: var(--color3);
}
.social-links a {
  color: #757575;
  font-weight: 500;
  font-size: var(pixel);
  line-height: 1.14;
}
.social-links a:hover {
  color: var(--color3);
}
.social-links a:focus {
  color: var(--color3);
}
.address-link:hover {
  color: var(--color3);
}
.address-link:focus {
  color: var(--color3);
}
.stil {
  font-family: Raleway, sans-serif;
  color: #000000;
  font-size: 26px;
  line-height: 1.19;
}
.web {
  color: var(--color3);
}
.stil-two {
  font-family: "Raleway", sans-serif;
  color: var(--color);
  font-size: 26px;
  line-height: 1.19;
}
.push {
  background: #f5f4fa;
}
.push:hover {
  background: var(--color3);
  color: var(--color);
  cursor: pointer;
}
.push:focus {
  background: var(--color3);
  color: var(--color);
}
.wall {
  background: #f5f4fa;
}
.man {
  background: var(--color);
  text-align: center;
}
.secend-push {
  text-align: center;
}
